[submodule "Assec/vendor/glfw"]
	path = Assec/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "Assec/vendor/glm"]
	path = Assec/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Assec/vendor/stb/stb"]
	path = Assec/vendor/stb
	url = https://github.com/nothings/stb
[submodule "Assec/vendor/spdlog"]
	path = Assec/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Assec/vendor/imgui"]
	path = Assec/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "Assec/vendor/entt"]
	path = Assec/vendor/entt
	url = https://github.com/skypjack/entt
[submodule "Assec/vendor/tinygltf"]
	path = Assec/vendor/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "Assec/vendor/yaml-cpp"]
	path = Assec/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "Assec/vendor/implot"]
	path = Assec/vendor/implot
	url = https://github.com/epezent/implot
[submodule "Assec/vendor/imnodes"]
	path = Assec/vendor/imnodes
	url = https://github.com/Nelarius/imnodes
[submodule "Assec/vendor/imguizmo"]
	path = Assec/vendor/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo